import(pps)
import(survey)
import(sampling)
importFrom("stats", "binom.test", "lm", "model.frame", "na.omit", "phyper", "qnorm", "terms", "var")

export(Smean)
S3method(print, Smean)
export(Sprop)
S3method(print, Sprop)
export(sample.size.mean)
S3method(print, sample.size.mean)
export(sample.size.prop)
S3method(print, sample.size.prop)
export(mbes)
S3method(print, mbes)
export(pps.sampling)
S3method(print, pps.sampling)
export(htestimate)
S3method(print, htestimate)
export(stratamean)
S3method(print, stratamean)
export(stratasamp)
export(stratasize)
S3method(print, stratasize)
export(submean)
S3method(print, submean)


